{% extends 'maintemplate.twig' %}

{% block meta_description %}
    Wij maken uw website op maat en binnen uw budget. We staan van start to einde klaar om al uw vragen te beantwoorden.
{% endblock %}

{% block content %}
    {% include 'components/breadcrumb.twig' %}
    <h1>{{ page_title }}</h1>
{% endblock %}
