{% extends 'maintemplate.twig' %}

{% block meta_description %}
    This is the meta description of my first page.
{% endblock %}

{% block content %}
    <h1>Welcome to my basic website.</h1>
    <p>
        Make sure you check <a href="/subpath/example-page">The example page as well</a>
    </p>
    <p>
        Make sure you check <a href="/subpath/example-page-with-image">a page with an image as well</a>
    </p>

    <p>Here is a list with all available twig variables</p>
{% endblock %}
