{% extends 'maintemplate.twig' %}

{% block meta_description %}
    This is a subpath
{% endblock %}

{% block content %}
    {% include 'components/breadcrumb.twig' %}
    <h1>Welcome to my basic website subpath.</h1>
{% endblock %}

